[Desktop Entry]
Name=OptiImage
Comment=Image optimizer
Version=1.0
Exec=optiimage
Icon=org.kde.optiimage
Type=Application
Terminal=false
Categories=Qt;KDE;Graphics
