[Desktop Entry]
Name=OptiImage
Name[ar]=المحسّن
Name[ast]=OptiImage
Name[ca]=OptiImage
Name[ca@valencia]=OptiImage
Name[cs]=OptiImage
Name[en_GB]=OptiImage
Name[eo]=OptiImage
Name[es]=OptiImage
Name[eu]=OptiImage
Name[fi]=OptiImage
Name[fr]=OptiImage
Name[gl]=OptiImage
Name[he]=OptiImage
Name[hi]=ऑप्टीइमेज
Name[ia]=OptiImage
Name[it]=OptiImage
Name[ka]=OptiImage
Name[ko]=OptiImage
Name[lt]=OptiImage
Name[lv]=OptiImage
Name[nl]=OptiImage
Name[pl]=OptiImage
Name[pt_BR]=OptiImage
Name[sa]=ऑप्टिइमेज
Name[sk]=OptiImage
Name[sl]=OptiImage
Name[sv]=Optibild
Name[tr]=OptiImage
Name[uk]=OptiImage
Name[zh_CN]=OptiImage 图像压缩工具
Name[zh_TW]=OptiImage
Comment=Image optimizer
Comment[ar]=صورة
Comment[ca]=Optimitzador d'imatges
Comment[ca@valencia]=Optimitzador d'imatges
Comment[cs]=Optimalizátor obrázku
Comment[en_GB]=Image optimiser
Comment[eo]=Optimumigilo por bildoj
Comment[es]=Optimizador de imágenes
Comment[eu]=Irudi-optimizatzailea
Comment[fi]=Kuvaoptimoija
Comment[fr]=Outil d'optimisation d'images
Comment[gl]=Optimizador de imaxes
Comment[he]=ממטב תמונות
Comment[hi]=छवि अनुकूलक
Comment[ia]=Optimisator de imagine
Comment[it]=Ottimizzatore dell'immagine
Comment[ka]=გამოსახულებების ოპტიმიზატორი
Comment[ko]=이미지 최적화 도구
Comment[lt]=Paveikslų optimizatorius
Comment[lv]=Attēlu optimizēšanas programma
Comment[nl]=Optimalisatie van afbeeldingen
Comment[pl]=Optymalizator obrazów
Comment[pt_BR]=Otimizador de imagem
Comment[sa]=चित्र अनुकूलकः
Comment[sk]=Optimalizátor obrázkov
Comment[sl]=Optimizator slike
Comment[sv]=Bildoptimering
Comment[tr]=Görsel eniyileyicisi
Comment[uk]=Засіб оптимізації зображень
Comment[zh_CN]=图像压缩工具
Comment[zh_TW]=影像最佳化工具
Version=1.0
Exec=optiimage
Icon=org.kde.optiimage
Type=Application
Terminal=false
Categories=Qt;KDE;Graphics
